body {
    margin: 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: stretch;
    font-family: 'Roboto';
}
.workspacewidth {
    width: 1000px;
    display: flex;
}


.header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .workspacewidth {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}
.hlinks {
    font-size: 18px;
    display: flex;
    gap: 16px;
}
.hlink {
    cursor: pointer;
    text-decoration: none;
    color: #E5E7EB;
}



.middle {
    display: flex;
    align-items: center;
    justify-content: center;
}



.m1 .workspacewidth {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 450px;
}
.wsa {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 4px;
}
.wsasub {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 4px;
    width: 450px;
}
.wsabutton {
    margin-top: 8px;
    border-radius: 6px;
    border: 0px;
    padding: 8px 20px;
    font-weight: 600;
    color: #E5E7EB;
    background-color: #3882F6;
    cursor: pointer;
}
.m1r {
    height: auto;
    width: 500px;
}




.m2 .workspacewidth {
    height: 500px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.m2 .workspacewidth .information {
    height: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-shrink: 0;

    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
    width: 150px;
}
.square {
    width: 150px;
    height: 150px;
    
}
.squareimg {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    border-style: solid;
    border-radius: 10px;
    border-color: #3882F6;
    flex-shrink: 0;
}
.squaresubtext {
    font-size: 18px;
    color: #1F2937
}




.m3 .workspacewidth {
    width: 800px;
    height: 450px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}
.quotefrom {
    font-size: 18px;
    font-weight: bolder;
    color: #1F2937;
    align-self: end;
}




.m4 .workspacewidth {
    height: 450px;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
.bluecard {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    padding: 50px 0px;
    border-radius: 9px;
    flex-shrink: 0;
}
.workspacewidthbc {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bct1 {
    font-size: 22px;
    font-weight: bolder;
    color: #E5E7EB;
}
.bct2 {
    font-size: 18px;
    color: #E5E7EB;
}
.bluecardbutton {
    border-radius: 6px;
    border-color: #F9FAF8;
    padding: 8px 26px;
    font-weight: 600;
    background-color: #3882F6;
    color: #E5E7EB;
    cursor: pointer;
}




.footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
}



.header, .footer, .m1 {
    background-color: #1F2937;
}
.m3 {
    background-color: #E5E7EB;
}
